<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Irmac.MailingCycle.BLLServiceLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Irmac.MailingCycle.BLLServiceLoader.Properties.Settings>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_localhost_CommonService"
                serializeAs="String">
                <value>http://localhost:1073/CommonService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_OrderService_OrderService"
                serializeAs="String">
                <value>http://localhost:1073/OrderService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Acca_AccaService"
                serializeAs="String">
                <value>http://localhost:1073/AccaService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Common_CommonService"
                serializeAs="String">
                <value>http://localhost:1073/CommonService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Design_DesignService"
                serializeAs="String">
                <value>http://localhost:1073/DesignService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Farm_FarmService"
                serializeAs="String">
                <value>http://localhost:1073/FarmService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Message_MessageService"
                serializeAs="String">
                <value>http://localhost:1073/MessageService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Order_OrderService"
                serializeAs="String">
                <value>http://localhost:1073/OrderService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Product_ProductService"
                serializeAs="String">
                <value>http://localhost:1073/ProductService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Registration_RegistrationService"
                serializeAs="String">
                <value>http://localhost:1073/RegistrationService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_Schedule_ScheduleService"
                serializeAs="String">
                <value>http://localhost:1073/ScheduleService.asmx</value>
            </setting>
            <setting name="Irmac_MailingCycle_BLLServiceLoader_ShoppingCart_ShoppingCartService"
                serializeAs="String">
                <value>http://localhost:1073/ShoppingCartService.asmx</value>
            </setting>
        </Irmac.MailingCycle.BLLServiceLoader.Properties.Settings>
    </applicationSettings>
</configuration>